# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.JumpAndRun.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Max\Documents\GitHub\JumpAndRun\.idea\.idea.JumpAndRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
